body{

margin:0;

font-family:Georgia, serif;

background:#f5eee8;

color:#222;

text-align:center;

}



header{

background:#111;

color:white;

padding:70px 20px;

}



header h1{

font-size:60px;

font-style:italic;

}



button{

background:#111;

color:white;

border:none;

padding:15px 35px;

border-radius:30px;

}



section{

padding:45px 20px;

}



.policy{

background:white;

margin:20px auto;

padding:20px;

max-width:500px;

border-radius:15px;

}



.reviews{

display:flex;

justify-content:center;

gap:20px;

}



.reviews p{

background:white;

padding:20px;

border-radius:15px;

width:200px;

}



video, canvas{

width:320px;

border-radius:20px;

}



input,select{

display:block;

margin:15px auto;

padding:12px;

width:250px;

}



footer{

background:#111;

color:white;

padding:20px;

}

label{

display:block;

margin-top:20px;

font-size:18px;

}



#confirmation{

background:white;

margin:30px auto;

padding:25px;

max-width:400px;

border-radius:20px;

font-size:18px;

}